# UML Capstone Data Prep Notebook

This notebook outlines the preprocessing steps used to extract a csv file of usable size for my GitHub repository. This isn't a necessary step if you wish to see the analysis, but it does document the steps I took to create the dataset file used in the Notebook-UnsupervisedLearningCapstone file you can find in the same Repo.

## Environment setup

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
cwd = os.getcwd()
file = cwd+'\\Iowa_Liquor_Sales.csv'

## Data load and preprocessing steps

The file was too large to import all at once without timing out, so I chose a chunk size that would work in a reasonable period of time and concatenated the chunks into a single dataframe to work with.

In [3]:
#Use TextFileReader, which is iterable with chunks of rows, this is like and engine to use to collect the data.
data = pd.read_csv(file, iterator=True, chunksize=100000)
# df is DataFrame. If errors, do `list(tp)` instead of `tp`
df = pd.concat(data, ignore_index=True)

In [4]:
#What size are each of these objects? Output is in bytes.
import sys
print(sys.getsizeof(data)) #shows data is the engine
print(sys.getsizeof(df)) #shows that this is the datapull
#other options - generator objects, like a list, analogous to set of instructions

48
13666120408

In [5]:
#What are the object types for each?
print(type(data))
print(type(df))

<class 'pandas.io.parsers.TextFileReader'>
<class 'pandas.core.frame.DataFrame'>

In [6]:
#Drop nulls and see how many observations we have:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12495974 entries, 6 to 12591076
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Invoice/Item Number    object
 1   Date                   object
 2   Store Number           int64
 3   Store Name             object
 4   Address                object
 5   City                   object
 6   Zip Code               object
 7   Store Location         object
 8   County Number          float64
 9   County                 object
 10  Category               float64
 11  Category Name          object
 12  Vendor Number          float64
 13  Vendor Name            object
 14  Item Number            int64
 15  Item Description       object
 16  Pack                   int64
 17  Bottle Volume (ml)     int64
 18  State Bottle Cost      object
 19  State Bottle Retail    object
 20  Bottles Sold           int64
 21  Sale (Dollars)         object
 22  Volume Sold (Liters)   float64
 23  Volume Sold (Gallons)  float64
dtypes: float64(5), int64(5), object(14)
memory usage: 2.3+ GB

There are too many rows in our dataset to make this manageable with the tools we are working with for this capstone. Let's see what options we have if we look at the liquor categories available to us.

In [7]:
df['Category Name'].unique()

array(['DECANTERS & SPECIALTY PACKAGES', 'CREAM LIQUEURS',
       'MISC. IMPORTED CORDIALS & LIQUEURS',
       'PUERTO RICO & VIRGIN ISLANDS RUM', 'FLAVORED RUM',
       'PEPPERMINT SCHNAPPS', 'VODKA FLAVORED', 'VODKA 80 PROOF',
       'MISC. AMERICAN CORDIALS & LIQUEURS', 'TEQUILA', 'IRISH WHISKIES',
       'WHISKEY LIQUEUR', 'AMERICAN DRY GINS', 'CANADIAN WHISKIES',
       'IMPORTED DRY GINS', 'BLENDED WHISKIES', 'SINGLE MALT SCOTCH',
       'SPICED RUM', 'STRAIGHT BOURBON WHISKIES', 'IMPORTED VODKA - MISC',
       'IMPORTED VODKA', 'AMERICAN COCKTAILS', '100 PROOF VODKA',
       'TENNESSEE WHISKIES', 'IMPORTED GRAPE BRANDIES', 'SCOTCH WHISKIES',
       'AMERICAN ALCOHOL', 'FLAVORED GINS', 'IMPORTED SCHNAPPS',
       'APPLE SCHNAPPS', 'BLACKBERRY BRANDIES', 'APRICOT BRANDIES',
       'AMERICAN AMARETTO', 'STRAIGHT RYE WHISKIES', 'BARBADOS RUM',
       'WATERMELON SCHNAPPS', 'AMERICAN GRAPE BRANDIES',
       'CHERRY BRANDIES', 'PEACH SCHNAPPS', 'BUTTERSCOTCH SCHNAPPS',
       'MISCELLANEOUS  BRANDIES', 'TRIPLE SEC', 'TROPICAL FRUIT SCHNAPPS',
       'MISCELLANEOUS SCHNAPPS', 'IMPORTED AMARETTO', 'GRAPE SCHNAPPS',
       'COFFEE LIQUEURS', 'ROOT BEER SCHNAPPS',
       'DISTILLED SPIRITS SPECIALTY', 'STRAWBERRY SCHNAPPS',
       'CINNAMON SCHNAPPS', 'RASPBERRY SCHNAPPS', 'OTHER PROOF VODKA',
       'SINGLE BARREL BOURBON WHISKIES', 'WHITE CREME DE MENTHE',
       'CREME DE ALMOND', 'JAMAICA RUM', 'SPEARMINT SCHNAPPS',
       'DARK CREME DE CACAO', 'ROCK & RYE', 'GREEN CREME DE MENTHE',
       'BOTTLED IN BOND BOURBON', 'AMERICAN SLOE GINS', 'PEACH BRANDIES',
       'WHITE CREME DE CACAO', 'LOW PROOF VODKA', 'ANISETTE',
       'HIGH PROOF BEER - AMERICAN', 'AMARETTO - IMPORTED',
       'CORN WHISKIES', 'IMPORTED VODKA - CHERRY', 'SCHNAPPS - IMPORTED',
       'JAPANESE WHISKY', 'American Vodka', 'Cream Liqueurs',
       'American Sloe Gins', '100% Agave Tequila',
       'Straight Rye Whiskies', 'Spiced Rum', 'Canadian Whiskies',
       'Triple Sec', 'Imported Cordials & Liqueurs', 'American Brandies',
       'American Schnapps', 'Imported Vodka', 'Imported Flavored Vodka',
       'Imported Dry Gins', 'Single Malt Scotch',
       'American Flavored Vodka', 'Imported Brandies', 'Aged Dark Rum',
       'Whiskey Liqueur', 'American Cordials & Liqueurs',
       'Coffee Liqueurs', 'Straight Bourbon Whiskies',
       'American Dry Gins', 'White Rum', 'Gold Rum', 'Blended Whiskies',
       'Flavored Rum', 'Scotch Whiskies', 'Cocktails / RTD',
       'Tennessee Whiskies', 'Irish Whiskies',
       'Neutral Grain Spirits Flavored', 'Imported Schnapps',
       'Mixto Tequila', 'Imported Distilled Spirits Specialty',
       'Neutral Grain Spirits', 'Bottled in Bond Bourbon',
       'Single Barrel Bourbon Whiskies', 'Flavored Gin', 'Delisted Items',
       'American Distilled Spirits Specialty', 'Iowa Distillery Whiskies',
       'Mezcal', 'Special Order Items', 'Corn Whiskies',
       'Temporary & Specialty Packages', 'American Cordials & Liqueur',
       'American Vodkas', 'Holiday VAP', 'Cocktails /RTD',
       'Imported Cordials & Liqueur',
       'American Distilled Spirit Specialty', 'Imported Vodkas',
       'Temporary &  Specialty Packages',
       'Imported Distilled Spirit Specialty', 'American Gins',
       'Iowa Distilleries'], dtype=object)

It was here that the scope of the capstone became inspired : it was the week of St. Patrick's Day and I have Irish roots in my geneology, so I decided to theoretically open an Irish Pub in Iowa.

In [8]:
#Create a smaller dataframe of just Irish Whiskies:
IW = df['Category Name'] == 'IRISH WHISKIES'
IW_df = df.iloc[IW.values]
IW_df.info()
IW_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87747 entries, 108 to 9912099
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Invoice/Item Number    87747 non-null  object
 1   Date                   87747 non-null  object
 2   Store Number           87747 non-null  int64
 3   Store Name             87747 non-null  object
 4   Address                87747 non-null  object
 5   City                   87747 non-null  object
 6   Zip Code               87747 non-null  object
 7   Store Location         87747 non-null  object
 8   County Number          87747 non-null  float64
 9   County                 87747 non-null  object
 10  Category               87747 non-null  float64
 11  Category Name          87747 non-null  object
 12  Vendor Number          87747 non-null  float64
 13  Vendor Name            87747 non-null  object
 14  Item Number            87747 non-null  int64
 15  Item Description       87747 non-null  object
 16  Pack                   87747 non-null  int64
 17  Bottle Volume (ml)     87747 non-null  int64
 18  State Bottle Cost      87747 non-null  object
 19  State Bottle Retail    87747 non-null  object
 20  Bottles Sold           87747 non-null  int64
 21  Sale (Dollars)         87747 non-null  object
 22  Volume Sold (Liters)   87747 non-null  float64
 23  Volume Sold (Gallons)  87747 non-null  float64
dtypes: float64(5), int64(5), object(14)
memory usage: 16.7+ MB

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
108,S17627300143,02/26/2014,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,1823 E KIMBERLY RD\nDAVENPORT 52807\n(41.55678...,82.0,Scott,...,15776,Bushmills Irish Whiskey,12,750,$13.00,$19.50,4,$78.00,3.0,0.79
259,S26793300054,07/15/2015,2551,Hy-Vee Food Store / Chariton,2001 WEST COURT,CHARITON,50049,2001 WEST COURT\nCHARITON 50049\n,59.0,Lucas,...,15621,Jameson Mini,10,600,$11.88,$17.82,1,$17.82,0.6,0.16
372,S28015900070,09/21/2015,2190,"Central City Liquor, Inc.",1460 2ND AVE,DES MOINES,50314,"1460 2ND AVE\nDES MOINES 50314\n(41.60566, -93...",77.0,Polk,...,15777,Bushmills Irish Whiskey,12,1000,$16.25,$24.38,2,$48.76,2.0,0.53
520,S12067800002,05/07/2013,2651,Hy-Vee / Waverly,1311 4 STREET SW,WAVERLY,50677,"1311 4 STREET SW\nWAVERLY 50677\n(42.713533, -...",9.0,Bremer,...,15572,Concannon,6,750,$10.00,$15.00,6,$90.00,4.5,1.19
877,S23217800007,12/27/2014,4764,New Star / Fort Dodge,1923 5TH AVE S,FORT DODGE,50501,"1923 5TH AVE S\nFORT DODGE 50501\n(42.501162, ...",94.0,Webster,...,15644,Jameson,24,375,$6.74,$10.11,24,$242.64,9.0,2.38

There are PLENTY of Irish Whiskeys in this dataset to work with for what we're doing, a wee bit "too many", but we'll work with it.

In [9]:
#output to csv so that I can import to GitHub and make it more accessible:
compression_opts = dict(method='zip',
                        archive_name='IowaLiquorSales_IrishWhiskies.csv')  
IW_df.to_csv('ILSIW.zip', index=False, compression=compression_opts)

## Next Steps:
At this point, I manually extracted the csv file and then uploaded it to GitHub to conduct the analysis in the Notebook-UnsupervisedLearningCapstone file.